Xmlsign/Docs/SignatureVerificationResponse.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML 2.3.1.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns:xsd = "http://www.w3.org/2001/XMLSchema">
	<xsd:element name = "XMLSignatureVerificationResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "SignatureCount"/>
				<xsd:sequence>
					<xsd:element ref = "SignatureStatus" minOccurs = "0" maxOccurs = "unbounded"/>
				</xsd:sequence>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "SignatureStatus">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:sequence>
					<xsd:element ref = "SignatureId"/>
					<xsd:element ref = "SignatureAlgorithm"/>
					<xsd:element ref = "Status"/>
					<xsd:element ref = "LastError"/>
					<xsd:element ref = "ReferenceCount"/>
					<xsd:element ref = "CertificateInfo" minOccurs = "0"/>
				</xsd:sequence>
				<xsd:element ref = "Reference" maxOccurs = "unbounded"/>
				<xsd:element ref = "PropertyCount"/>
				<xsd:element ref = "SignatureProperties"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "SignatureId" type = "xsd:string"/>
	<xsd:element name = "SignatureAlgorithm" type = "xsd:string"/>
	<xsd:element name = "Status" type = "xsd:string"/>
	<xsd:element name = "LastError" type = "xsd:string"/>
	<xsd:element name = "ReferenceCount" type = "xsd:string"/>
	<xsd:element name = "Reference">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:sequence>
					<xsd:element ref = "URI"/>
					<xsd:element ref = "DigestMethod"/>
					<xsd:element ref = "DigestStatus"/>
				</xsd:sequence>
				<xsd:element ref = "SignedObject" minOccurs = "0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "URI" type = "xsd:string"/>
	<xsd:element name = "DigestMethod" type = "xsd:string"/>
	<xsd:element name = "DigestStatus" type = "xsd:string"/>
	<xsd:element name = "SignedObject">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base = "xsd:string">
					<xsd:attribute name = "Encoding" type = "xsd:string"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "SignatureCount" type = "xsd:string"/>
	<xsd:element name = "Subject" type = "xsd:string"/>
	<xsd:element name = "CertificateInfo">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "Subject"/>
				<xsd:element ref = "ShortSubject"/>
				<xsd:element ref = "CertificateIssuer"/>
				<xsd:element ref = "CertificateSerialNumber"/>
				<xsd:element ref = "CertificateExpiration"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "CertificateIssuer" type = "xsd:string"/>
	<xsd:element name = "CertificateExpiration" type = "xsd:string"/>
	<xsd:element name = "CertificateSerialNumber" type = "xsd:string"/>
	<xsd:element name = "PropertyCount" type = "xsd:string"/>
	<xsd:element name = "SignatureProperties">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "Property" minOccurs = "0" maxOccurs = "unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "Name"/>
	<xsd:element name = "Value"/>
	<xsd:element name = "Property">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "Name"/>
				<xsd:element ref = "Value"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "ShortSubject" type = "xsd:string"/>
</xsd:schema>