Xmlsign/Docs/SignatureVerificationResponse.dtd

<?xml version='1.0' encoding='UTF-8' ?>

<!--Generated by Turbo XML 2.3.1.100.-->

<!ELEMENT XMLSignatureVerificationResponse (SignatureCount , (SignatureStatus*))>

<!ELEMENT SignatureStatus ((SignatureId , SignatureAlgorithm , Status , LastError , ReferenceCount , CertificateInfo?) , Reference+ , PropertyCount , SignatureProperties)>

<!ELEMENT SignatureId (#PCDATA)>

<!ELEMENT SignatureAlgorithm (#PCDATA)>

<!ELEMENT Status (#PCDATA)>

<!ELEMENT LastError (#PCDATA)>

<!ELEMENT ReferenceCount (#PCDATA)>

<!ELEMENT Reference ((URI , DigestMethod , DigestStatus) , SignedObject?)>

<!ELEMENT URI (#PCDATA)>

<!ELEMENT DigestMethod (#PCDATA)>

<!ELEMENT DigestStatus (#PCDATA)>

<!ELEMENT SignedObject (#PCDATA)>

<!ATTLIST SignedObject  Encoding CDATA  #IMPLIED >
<!ELEMENT SignatureCount (#PCDATA)>

<!ELEMENT Subject (#PCDATA)>

<!ELEMENT CertificateInfo (Subject , ShortSubject , CertificateIssuer , CertificateSerialNumber , CertificateExpiration)>

<!ELEMENT CertificateIssuer (#PCDATA)>

<!ELEMENT CertificateExpiration (#PCDATA)>

<!ELEMENT CertificateSerialNumber (#PCDATA)>

<!ELEMENT PropertyCount (#PCDATA)>

<!ELEMENT SignatureProperties (Property*)>

<!ELEMENT Name ANY>

<!ELEMENT Value ANY>

<!ELEMENT Property (Name , Value)>

<!ELEMENT ShortSubject (#PCDATA)>

